.copyright {
    background-color: #44a6be;
}

.fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 1000px;
}

.content-grey {
    background-color: #f8f9fc;
}

hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.img-profile {
    height: 1rem;
    width: 1rem;
}

.profile-font {
    color: #ffffff !important;
    font-size: 80%;
    font-weight: 400;
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}